# Question 1
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
# Answer

In [5]:
import pandas as pd

In [ ]:
import pandas as pd
my_list = [4,8,15,16,23,42]
my_series = pd.Series(my_list)
print(my_series)

# Question 2
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.
# Answer

In [ ]:
# Answer
my_list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 
my_series1 = pd.Series(my_list1)
print(my_series1)

# question 3
Q3. Create a Pandas DataFrame that contains the following data:
Name,Age,Gender
Alice,25,female
Bob,30,male
Claire,27,femalezzz
Then, print the DataFrame.
# Answer

In [ ]:
# Answer
data = {'Name': ['alice', 'bob', 'claire'],

        'Age': [25,30,27],

        'Occupation': ['female','male','female']}
df = pd.DataFrame(data)
print(df)

# Question 4
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
# Answer
 A pandas dataframe is a two-dimensional data structure that can store tabular data with labeled rows and columns. To create a pandas dataframe, we need to import the pandas module and use the pd.DataFrame() function with some data as an argument.
 For example:

In [ ]:
data1 = {
  "name": ["Alice", "Bob", "Charlie"],
  "age": [25, 30, 35],
  "gender": ["F", "M", "M"]
}
df1 = pd.DataFrame(data1)
print(df1)

# Question 5
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

# Answer
Here are some common functions to manipulate data in a Pandas DataFrame:
head() - to view the top n rows of the DataFrame
tail() - to view the bottom n rows of the DataFrame
describe() - to get summary statistics of the DataFrame
sort_values() - to sort the DataFrame by one or more columns
groupby() - to group the DataFrame by one or more columns and perform aggregate calculations on the groups
Example usage of one of these functions:

In [ ]:
import pandas as pd

# create a DataFrame
df = pd.read_csv('sales_data.csv')

# view the top 5 rows of the DataFrame
df.head()

# sort the DataFrame by sales in descending order
df.sort_values('sales', ascending=False)

# group the DataFrame by region and calculate the mean sales for each region
df.groupby('region')['sales'].mean()

# Question 6
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
# Answer
In Pandas, both Series and DataFrame are mutable in nature, while Panel is deprecated since version 0.25.0 and is no longer recommended for use.
A mutable object is an object whose contents can be changed after it is created.
For example, you can change the values in a Pandas Series or DataFrame by assigning new values to specific rows, columns, or cells. In contrast, an immutable object cannot be changed after it is created.
Examples of mutable objects in Python include lists, dictionaries, and sets, while examples of immutable objects include tuples, strings, and numbers.

# Question 7
Q7. Create a DataFrame using multiple Series. Explain with an example.
# Answer
To create a DataFrame using multiple Series in Pandas, we can pass a dictionary where the keys are the column names and the values are the Series.
The length of all the Series should be the same.

In [ ]:
Here's an example:
import pandas as pd
# create a Series for each column
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
genders = pd.Series(['F', 'M', 'M'])
# create a DataFrame using the Series
df = pd.DataFrame({'name': names, 'age': ages, 'gender': genders})
# view the DataFrame
print(df)